<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/services.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="empCtrl">
      <div class="row">
        <div class="col-md-4">
          <form name="myForm" novalidate>
            <h1>Employees</h1>
            <div class="form-group" ng-show="emp.id">
              <label for="id">Employee Id:</label>
              <input name="id" type="text" ng-model="emp.id"  class="form-control" id="id">
            </div>
            <div class="form-group">
              <label for="firstname">firstname:  <sup>*</sup></label>
              <input name="firstName" type="text" ng-model="emp.firstName" class="form-control" max="150" required>
              <span style="color:red" ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">Please fill firstname</span>
            </div>
            <div class="form-group">
              <label for="lastname">lastName:<sup>*</sup></label>
              <input name="lastName" type="text" ng-model="emp.lastName" class="form-control" max="150" required>
              <span style="color:red" ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">Please fill lastname</span>
            </div>
            <div class="form-group">
              <label for="email">Email:<sup>*</sup></label>
              <input name="email" type="email" ng-model="emp.email" class="form-control" max="150" required>
              <span style="color:red" ng-show="myForm.email.$touched && myForm.email.$invalid">
              <span ng-show="myForm.email.$error.required">Email is required.</span>
              <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
            </div>
            <div class="form-group">
              <label for="position">position:<sup>*</sup></label>
              <input name="position" type="text" ng-model="emp.position" class="form-control" max="75" required>
              <span style="color:red" ng-show="myForm.position.$touched && myForm.position.$invalid">Please fill position</span>
            </div>
              <button type="submit" ng-click="myForm.$invalid ? fillIt() : saveEmp(emp)" ng-hide="emp.id" class="btn btn-primary">Save</button>
              <button type="submit" ng-click="update(emp)" ng-show="emp.id" class="btn btn-primary">Update</button>
          </form>
        </div>
        <div class="col-md-8">
          <div>
            <div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Position</th>
                  </tr>
                </thead>
                <tbody >
                  {{Employees}}
                  <tr ng-repeat="emp in Employes| orderBy:'-id'">
                    <td>{{emp.id}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.position}}</td>
                    <td><button ng-click="delete(emp.id)" class="btn btn-danger">Delete</button> <br /><br /><button ng-click="edit(emp.id)" class="btn btn-primary">Edit</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
